.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.modal > .modal-title {
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.modal > .modal-title > * {
    white-space: nowrap;
}

.modal > .modal-title > .modal-title--close {
    cursor: pointer;
}

.modal-hidden {
    display: none;
}