button {
    font-weight: 600;
    background-color: var(--bh-purple);

    padding: 8px 22px;

    border: none;
    border-radius: 10px;
}

button a {
    color: var(--bh-text-white)
}

button {
    color: var(--bh-text-white)
}