.categories{
    width: 182px;
    height: 45px;
    background: rgba(91,224,145,1);
    padding: 4px 46px;
    margin: 10px;
    opacity: 1;
    position: relative;
    top: -15px;
    left: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }

  .categories_text{
    width: 97px;
    color: rgba(255,255,255,1);
    top: 3px;
    left: -2px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    position:relative;
    text-align: left;
  }