.specialization {
  width: 100%;
  height: 154px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.specialization-text {
    width: 151px;
  color: rgba(48,48,48,1);
  position: relative;
  top: -50px;
  left: 18px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.gastrolog, .hepatolog, .urolog , .ginekolog, .kardiolog, .neurolog, .ortopeda, .pulmonolog{
  width: 154px;
  height: 154px;
  background-image: url("../../../assets/images/specialization-rectangle.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.gastrolog-text {
  width: 79px;
  color: rgba(48,48,48,1);
  position: absolute;
  top: 99px;
  left: 38px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.gastrolog-image {
  width: 70px;
  height: 55px;
  background: url("../../../assets/images/gastrolog.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 42px;
  overflow: hidden;
}

.hepatolog {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 169px;
    overflow: hidden;
  }

  .hepatolog-text {
    width: 84px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 100px;
    left: 35px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .hepatolog-image {
    width: 74px;
    height: 53px;
    background: url("../../../assets/images/hepatolog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 40px;
    overflow: hidden;
  }

  .urolog {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 338px;
    overflow: hidden;
  }

  .urolog-image {
    width: 66px;
    height: 59px;
    background: url("../../../assets/images/urolog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 44px;
    overflow: hidden;
  }
  .urolog-text {
    width: 52px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 102px;
    left: 51px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .ginekolog {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 507px;
    overflow: hidden;
  }

  .ginekolog-text {
    width: 80px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 102px;
    left: 36px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .ginekolog-image {
    width: 77px;
    height: 62px;
    background: url("../../../assets/images/ginekolog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 36px;
    overflow: hidden;
  }
  .kardiolog {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 676px;
    overflow: hidden;
  }

  .kardiolog-image {
    width: 46px;
    height: 67px;
    background: url("../../../assets/images/kardiolog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 54px;
    overflow: hidden;
  }
  .kardiolog-text {
    width: 77px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 101px;
    left: 38px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .neurolog {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 845px;
    overflow: hidden;
  }

  .neurolog-image {
    width: 72px;
    height: 66px;
    background: url("../../../assets/images/neurolog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 41px;
    overflow: hidden;
  }
  .neurolog-text {
    width: 73px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 100px;
    left: 40px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .ortopeda {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1014px;
    overflow: hidden;
  }

  .ortopeda-text {
    width: 77px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 99px;
    left: 38px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .ortopeda-image {
    width: 60px;
    height: 55px;
    background: url("../../../assets/images/ortopeda.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 47px;
    overflow: hidden;
  }
  .pulmonolog {
    width: 154px;
    height: 154px;
    background: url("../../../assets/images/specialization-rectangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1183px;
    overflow: hidden;
  }

  .pulmonolog-text {
    width: 96px;
    color: rgba(48,48,48,1);
    position: absolute;
    top: 99px;
    left: 29px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .pulmonolog-image {
    width: 65px;
    height: 58px;
    background: url("../../../assets/images/pulmonolog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 44px;
    overflow: hidden;
  }