main{
  padding: 1rem 2rem;
  max-width: 90vw;
}

.searcher{
  display: flex;
  margin-block-end: 1.25rem;
  justify-content:left;

}

.search {
  width: 100%;
  height: 45px;
  position: relative;
  margin-left: 14%;
  padding: 4px 46px;
  border-radius: 10px;
  border-color: lightgray;
  display: flex;
  flex-direction: column;
}

.categories_text{
  border-radius: 8px;
  background: rgba(91,224,145,1);
  width: 182px;
  height: 45px;
  color: rgba(255,255,255,1);
  font-family: Poppins;
  font-size: 20px;
  position: relative;
  text-align: center;
  border: grey;

}

#slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  
  .slider-item {
    width: 33.33%;
    height: 100%;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 36px;
    color: #333;
  }
  
  .slider-arrow-left {
    left: 0;
  }
  
  .slider-arrow-right {
    right: 0;
  }

  .specjalizacja {
    border-radius: 20px;
  }

  .text-specjalizacja{
    margin-block-end: 1.25rem;
  }

  .selected{
    border: 2px solid var(--bh-purple);
    border-radius: 20px;
  }